.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #ff7878;
  width: 400px;
  text-align: center;
  font-family: "KodeMono Regular", monospace;
}

* {
  outline: 0 !important;
}
